@media screen and (min-width:350px) and (max-width:550px) {
    header{
        height: 400px;
        width: 350px;
    }
    h1{
        font-size: 25px;
    }

    .nome, .numero{
        height:25px;
        width: 300px;
        font-size: 16px;
    }
    .numero {
        width: 190px;
    }
}
