*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    content: '';
    background-image: url(../imagens/background\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FORMULÁRIO DE CADASTRO*/
.container-cadastro{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: +1;
    display: none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#fechar-two{
    padding: 5px;
    color: red;
    font-size: 30px;
    position: relative;
    right: 230px;
    top: 45px;
    cursor: pointer;
    z-index: +1;
}
#fechar-two:hover{
    color: white;
}
header{
    height: 500px;
    width: 500px;
    background-color: rgba(240, 248, 255, 0.281);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    backdrop-filter: blur(4px);
    border: 1px solid rgb(74, 134, 232);
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.nome, .numero{
    outline: none;
    border: none;
    height:30px;
    font-size: 18px;
    border-bottom:1px solid #3a3333;
    background-color: rgba(247, 245, 245, 0);
    width: 350px;
    text-align: center; 
    font-weight:400;
}
.nome::placeholder, .numero::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.numero {
    width: 200px;
}
.botao{
    padding: 10px 50px;
    border: none;
    background-color: rgb(74, 134, 232);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.botao:hover{
    color: black;
}


/*PLANILHA*/
embed{
    height: 450px;
    width: 850px;
    border: 2px solid rgb(74, 134, 232);
    border-radius: 20px ;
}


/*DOCUMENTAÇÃO*/

article{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: +1;
    display: none ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fechar{
    padding: 5px;
    color: red;
    font-size: 30px;
    position: relative;
    right: 300px;
    top: 45px;
    cursor: pointer;
    z-index: +1;
}
#fechar:hover{
    color: white;
}
.documentacao{
    background-color: rgba(240, 248, 255, 0.555);
    width: 650px;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px;
    backdrop-filter: blur(50px);
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
h3{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(74, 134, 232);
}

.botoes{
    display: flex;
    gap: 25px;
}
#botao, #cadastrar, #editar{
    padding: 10px 20px;
    border: 1px solid transparent;
    font-size: 17px;
    border-radius: 20px 10px;
    background-color: rgba(240, 248, 255, 0.616);
    margin-top: 50px;
    cursor: pointer;
    backdrop-filter: blur(2px);
    transition: all 0.5s ease-in-out;
    font-family:'Montserrat';
    color: black;
}
#botao:hover, #cadastrar:hover, #editar:hover{
    color: white;
    border: 1px solid white;
    font-family:'Montserrat';
}
